/* Created by: Ekaterina
* Created on: Jan 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: #345a98;
}

img {
  float: left;
  margin-left: 15px;
  width: 3%;
  height: 5%;
}

h2 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

h4 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

h6 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

p {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
  text-align: center;
}

.mdl-textfield {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
}

form {
  color: #fff;
}

div {
  color: #fff;
  text-align: center;
}

a:link {
  color: #fff;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
